body{
    height: fit-content;
    overflow:auto;
}
#form-messages{
    margin-left: 25%;
    align-items: center;
    position: absolute;
    height: 30px;
    bottom:2px;
}
.chat{
    height: 100vh;
    overflow:auto;
    text-align: center;
    border: black double;
}
ul{
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.5rem;
}
.date{
    font-size: x-small;
}
.sent{
    text-align: left;
    height: fit-content;
    margin-left: 60%;
    margin-bottom: 2%;
    width: 30%;
    background-color: rgb(37, 37, 68);
    border-style: solid;
    border: rgb(0, 0, 0) 2px;
    word-wrap: break-word;
    overflow:visible;
}
.received{
    height:fit-content;
    width: 30%;
    text-align: left;
    border-style: solid;
    border: black 2px;
    background-color: rgb(43, 17, 17);
    word-wrap: break-word;
    overflow:visible;
}
#messages{
    margin-bottom: 5%;
}