.search{
    text-align: center;
    color: whitesmoke;
}
.form input{
width: 30%;
}
#result{
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    padding-right: 20px;
    margin-right: 50%;
    text-align: left;
  
}
ul{
    margin: 5%;
    width: 90%;
    font-size: 1rem;
    border: double 5px rgb(255, 195, 30);
    line-height: 1.5rem;
    list-style-type: none;
}
.img{
    width: 50%;
    height: 50%;
    padding-bottom: 8px;
}
