body{
    height: fit-content;
    overflow:auto;
}
#profileInfo{
    position: relative;
    text-align: left;
    display: inline-block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#rightSide{
    font-size: 20px;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#rightSide li{
    margin-left: 30%;
}
#rightSide button{
    margin-left: 20%;
}
.line{
    background-color: wheat;
    width: 80%;
}
li{
    list-style-type: none;
}
.form-profile input[type=email], .form-profile  input[type=password], .form-profile  input[type=text],.form-profile  input[type=number]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}
.text-right{
    margin-left:1px;
}